{% extends 'sert/sert_base.html' %}
{% load static %}

{% block title %}
    Сертификация - {{ block.super }}
{% endblock %}

{% block content %}
    {% for sert_list in sert_lists %}

        <div class="card m-3">
        <img class="card-img-center" src="{% static 'img/exchanges.png' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">{{ sert_list.s_title }} </h5>
            <p class="text-right">{{ sert_list.s_date_create }}</p>

            <p class="">
                {% autoescape off %}
                        {{ sert_list.s_text }}
                {% endautoescape %}
            </p>
            <a href="{% url 'post_list_url' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>
    {% endfor %}




{% endblock %}
