{% extends 'blanks/blanks_base.html' %}
{% load static %}


{% block title %}
    Бланки - {{ block.super }}
{% endblock %}

{% block content %}


    <div class="list-group m-3">
  <a href="#" class="list-group-item list-group-item-action active text-center">
      <img src="https://halliford-colts.footballkit.co.uk/signonline/images/notepad_vectoricon.png" width="65" alt="blanck">&nbsp БЛАНКИ ДОКУМЕНТОВ, ИНСТРУКЦИИ
  </a>
  <a href="{% static 'files/blanks/DogovorТОФК2019.doc' %}" class="list-group-item list-group-item-action">1. Договор присоединения (соглашения)</a>
  <a href="{% static 'files/blanks/bezopasnoct.doc' %}" class="list-group-item list-group-item-action">2. Руководство по обеспечению безопасности ЭП и средств ЭП</a>
  <a href="{% static 'files/blanks/z_sufd.doc' %}" class="list-group-item list-group-item-action">3. Заявка подключение СУФД-портала</a>
  <a href="{% static 'files/blanks/soglasie.doc' %}" class="list-group-item list-group-item-action">4. Согласие на обработку персональных данных</a>
  <a href="{% static 'files/blanks/status_sert.rtf' %}" class="list-group-item list-group-item-action">5. Заявление на изменения статуса сертификата</a>
  <a href="{% static 'files/blanks/dov_ur.doc' %}" class="list-group-item list-group-item-action">6. Доверенность от организации на сотрудника</a>
  <a href="{% static 'files/blanks/dov_fiz.doc' %}" class="list-group-item list-group-item-action">7. Доверенность от сотрудника на уполномоченное лицо</a>
  <a href="{% static 'files/blanks/kop.RTF' %}" class="list-group-item list-group-item-action">8. Карточка образцов подписей</a>
  <a href="{% static 'files/blanks/request.zip' %}" class="list-group-item list-group-item-action">9. Файл для правильного формирования запроса Континет АП</a>
  <a href="{% static 'files/blanks/Письмо_для_получения_скзи.docx' %}" class="list-group-item list-group-item-action">10. Письмо для получения СКЗИ</a>
  <a href="{% static 'files/blanks/Insrt_Con_3.7_ver_4.zip' %}" class="list-group-item list-group-item-action">11. Инструкция по установке и настройке «Континент-АП» версии 3.7 (2019)</a>
  <a href="{% static 'files/blanks/for_eb.rar' %}" class="list-group-item list-group-item-action">12. Документы для ЭБ</a>
  <a  style="color: #FF0000" href="{% static 'files/blanks/pam.doc' %}" class="list-group-item list-group-item-action"><b>13. ПАМЯТКА ПО ОСНОВНЫМ ТРЕБОВАНИЯМ САНКЦИОНИРОВАНИЯ РАСХОДОВ</b></a>
  <a href="{% url 'post_list_url' %}" class="list-group-item list-group-item-action back_post"><i class="fa fa-reply" aria-hidden="true"> Назад</i></a></a>
</div>



{% endblock %}