body {
    background: url('../img/fon/kamenka.gif');
    font-family: sans-serif;

}

.card-header {
    background: #6e6b5e;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    color: #fffd9a;
}

.ft_font{
    background: #d6d5c1;

}

.btn_ {
    text-align: right;
}

.card-title {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #2b59ff;
}

/*Цвет текста в Карусели*/
.color_item {
    color: #000;
}


.text-right.user_{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #0f74a8;

}

.carousel-caption {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

.color_item p {

    font-size: 12px;
}

.autor_color {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Lobster', cursive;
}

.back_post{
    background-color: #dde2da;
}

/*Фон сообщения*/
.card {
    background:  url('../img/fon/background36.jpg') #fff8cc;


}

.card-text.ml-3 {
    text-indent: 35px;

}

.card p.text-right {
    font-family: 'Lobster', cursive;
}

.navigation_pos {
    position: center;
}

.form-container {
    block-progression: 1;
    margin: 20px;


}

input {
    width: 101%;
    /*margin-top: -5px;*/
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color: #000000;
    padding-left:20px;
    padding-right:20px;
    /*margin-bottom:20px;*/
}


/* Поле сообщения */
textarea{
    background: rgba(255, 255, 255, 0.4);
    margin-top: -20px;
    width: 230%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color: #000000;
    padding-left:25px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input[type=submit] {
    cursor:pointer;
    width: 30%;
    margin-top: -30px;
    text-align: center;
    background: #00cc66;
    margin-left: 750px;

}

.card li{
    margin-left: 40px;

}

/*Аттач файла*/
#dwFile {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: small;
    color: #006a00;
    /*text-decoration: none;*/


}


/*Текст анимация*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.area {
  text-align: center;
  font-size: 2.5em;
  color: #ff8d50;
  letter-spacing: 7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
