body {
        background: url('../img/fon/goldenrod-cubes.png');

}

.card-header {
    background: #6e6b5e;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    color: #fffd9a;
}

.ft_font{
    background: #dae2cc;

}

.btn_ {
    text-align: right;
}

.card-title {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #0f7aff;
}

/*Цвет текста в Карусели*/
.color_item {
    color: #ffffff;
}

.color_item p {
    font-size: 12px;
}