body {
        background: url('../img/fon/goldenrod-cubes.png');

}

.card-header {
    background: #6e6b5e;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    color: #fffd9a;
}

.ft_font{
    background: #dde2da;

}

.btn_ {
    text-align: right;
}

.card-title {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #2b59ff;
}

/*Цвет текста в Карусели*/
.color_item {
    color: #000;
}

.carousel-caption {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

.color_item p {

    font-size: 12px;
}

.autor_color {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Lobster', cursive;
}

.back_post{
    background-color: #0E2231;
}