{% extends 'm_blog/base_m_blog.html' %}

{% block title %}
    Главная - {{ block.super }}
{% endblock %}


{% block content %}

    {% for post in posts %}

        <div class="card m-2">
            <div class="card-header">
                <i class="fa fa-calendar-o" aria-hidden="true"></i> Создан: {{ post.date_create }}
            </div>
            <div class="card-body">
                <a href="{% url 'post_detail_url' pk=post.pk %}"><h2 class="card-title"><i class="fa fa-file-text-o"
                                                                                           aria-hidden="true"></i> {{ post.title }}
                </h2></a>
                <hr>
                <p class="card-text">
                    {% autoescape off %}
                        {{ post.text|truncatewords:15 }}
                    {% endautoescape %}
                </p>

            </div>
            <div class="card-footer text-muted text-right ft_font">
                <div class="btn_">
                    <a href="{% url 'post_detail_url' pk=post.pk %}" class="btn btn-success">Читать полностью <i
                            class="fa fa-share" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}